.btn-default {
    color: #fff!important;
    background-color: #04192c!important;
    border: none;
    border-radius: 5px;
    padding:3px 8px;
}
.btn-inverse{
    color: #fff!important;
    background-color: #00be00!important;
    border: none;
    border-radius: 5px;
    padding:3px 8px;
}
.mailinglist-submit{
    color: #fff!important;
    background-color: #00be00!important;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    line-height: 1.5;
    margin: 0 5px 0 5px;
    font-size: 18px;
}