.ups-covid {
	text-align: center; 
	margin: 20px 10px;
	padding: .5% 1.5%; 
	background: #FFB500; 
	color: #351C15; 
	font-weight: 900; 
	width: 50%;
	min-width: 150px; 
	border-radius: 4px; 
	box-shadow: 2.5px 2.5px 5px gray; 
}