@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('/assets/templates/luna-core/fonts/Lato-Regular.ttf') format('woff2');
  font-display: swap;
}

body, html, p, h1,h2,h3,h4,h5,a{
  font-family: 'Lato', sans-serif;
  font-display: swap;
}
.all-center{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@import "./homepage";
@import "./typography";
@import "./buttons";
@import "./custom-components";
@import "./blog";